body {
    background: none;
}

button { 
    background-color: rgba(237, 97, 30, 0.74);
    border: black;
    border-width: 2px;
    color: black;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 4px;
    
}

.selectBtn {
    border-radius: 32px;
}

#container {
    background-image: url("lottoTicket.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-x: center;
    margin: 10% auto;
    width: 400px;
    height: 500px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0);
    border-width: 1px;
}

.disable-selection {
    -moz-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

#lotteryTitle {
    padding-left: 25px;
    color: rgba(0, 0, 0, 0);
}

#lottoNumbers {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
}

#buy {
    float: right;
    padding-right: 15px;
}

#close {
    float: right;
    height: 30px;
    width: 30px;
    padding: 7px 10px;
    margin-right: 5%;
    background-color: rgba(214, 0, 43, 0.95);
    border-radius: 50%;
    text-anchor: middle;
    text-align: center;
}

#mainPage {
    text-align: center;
    margin-top: 15%;
    position: relative;
    height:70%;
}

#mainTable, #myTicketTable{
    margin:auto;
    border-collapse: collapse;
}

#myTicketTable td{
    border-top: 1px solid black;
    padding:5px;
}

#mainTable td {
    padding: 10px;
}

#numberContainer {
    overflow-y: scroll;
    max-height: 250px;
}

#numberContainer.smallCount::-webkit-scrollbar{
    display:none;
}

.numberDisplay {
    width:1rem;
    height:1rem;
    display: inline-block;
    margin:10px;
    padding: 5px;
    font-weight: 500;
    border: 1px solid black;
    border-radius: 50%;
}

.numberDisplay:hover{
    background-color: rgb(172, 202, 241);
    cursor: pointer;
}

.selectedNumber{
    background-color: rgb(37, 73, 119);
}

#prizeList {
    position:absolute;
    width:200px;
    top:20px; 
    left:50px;
    z-index:10;
    background-color: rgba(237, 97, 30, 1);
    padding:10px;
    border-radius:5px;
    box-shadow: 2px 2px 2px gray;
    display:none;
}

#prizes div:not(:last-child){
    border-bottom:1px solid black; 
    margin-bottom:5px;
    padding-bottom:5px;
}

.prize{
    display:inline-block;
    width: 100px; 
    padding-right:5px;
    text-align:left;
}
/* #mainTable tr:nth-child(even){

} */